    body {
    font: 400 15px Tahoma,sans-serif; /*Familia sans-serif*/
    line-height: 1.8;
    color: #818181;
    background-color: rgb(185, 203, 236);
    }
    h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(185, 203, 236);
    color: black;
    text-transform: uppercase;
    padding: 70px 20px;
    text-align: center;
    }
   
    p {
        
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
		background-color:  rgb(185, 203, 236);
        color:black;
        text-align: left;
      }

    ul{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
		background-color:  rgb(185, 203, 236);
        color: black;
        text-align: left; 
		
    }
	li{
		color:black;
	}
	img{
        position:sticky;
        top: 70px;
        left:400px;
        
    }
	footer{
		position:absolute;
		top: 900px;
		font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
		background-color:  rgb(185, 203, 236);
        color:black;
        text-align: right;
		
	}
