    /*Especificidad 001*/
    body {
    font: 400 15px Tahoma,sans-serif; /*Familia sans-serif*/
    line-height: 1.8;
    color:black;
    background-color:  cornflowerblue;;
    }
    /*Especificidad 001*/
    h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: white;
    color:  #154EB7;
    text-transform: uppercase;
    padding: 70px 20px;
    text-align: center;
    
    }
   /*Especificidad 001*/
    p {
        
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
		background-color: white;
        color:black;
        text-align: left;
      }
/*Especificidad 001*/
    ul{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        border:solid;
        border-color: black;
		background-color: white;
        color: black;
        text-align: left; 
		position: relative;
        top: 60px;
        
        
       
    }
	/*Especificidad 001*/
	img{
        position: relative;
        top: 90px;
        left:400px;
        
    }
    /*Especificidad 001*/
	footer{
		position:absolute;
		top: 900px;
		font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
		background-color: cornflowerblue;
        color:black;
        text-align: right;
		
	}
