 /*Especificidad 001*/
 body {
    font: 400 15px Tahoma,sans-serif; /*Familia sans-serif*/
    line-height: 1.8;
    color: black;
    background-color:cornflowerblue;
    }
    /*Especificidad 001*/
    h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:white;
    color: #154EB7;
    text-transform: uppercase;
    padding: 70px 20px;
    text-align: center;
    }
    /*Especificidad 001*/
   h2 {
    left:30px;
    right:40px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:white;
    color: #154EB7;
    text-transform: uppercase;
    padding: 70px 20px;
    text-align: left;
    }
    /*Especificidad 001*/
    p {
		left:30px;
        right:40px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: medium;
		background-color: white;
        color:black;
        text-align: left;
      }
    /*Especificidad 001*/
    ul{
        left:30px;
        right:40px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: medium;
		background-color: white;
        color:black;
        text-align: left; 
    }
    /*Especificidad 001*/
    img{
      position:relative ;
      bottom:400px;
      left:400px;
    }
    /*Especificidad 001*/
	footer{
		position:absolute;
		top: 1200px;
		font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
		background-color: cornflowerblue;
        color:black;
        text-align: right;
		
	}

